# ## RethinkDB .gitignore

# General
.#*

# IDE-related
*.iml
.idea/
.vscode/
out/

# Java-related
*.class

# Gradle-related
build/
.gradle/
confidential.properties

# Kotlin scripts
scripts/kotlinc/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
*.pid
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
virtualenv/

# RethinkDB
scripts/*.proto
